/* Etch & Sketch */

/* Naming Convention   
  p--parent id    used as class name of direct children (p--) (p--f__) (p--g__)
  f__             flex container
  g__             grid container
  __              double underscore separates elements/blocks (div__element)
  _               single underscore separates multi word names (long_name)
  --              double dash before modifier/value (--value)
  -               single dash reserved only for html key words
*/

/* ==== Typography & General Styles ====*/

* {
  user-select: none;
}


/* ==== Colors ==== */


/* ==== Layout ==== */

/* <main> f__ for user selections and sketchPad */
#f__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em 0;
}
/* <section> f__ color buttons, pen swatch, new sketchPad */
#f__color_selections {
  display: flex;
  gap: 3em;
}
/* <div> f__ color buttons */
#f__buttons--colors {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
/* <div> f__ pen title, color swatch, pick */
#f__title__swatch__pick_color {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 6em;
  gap: 2em;
}
/* <div> f__ title and swatch */
#f__title__swatch {
  display: flex;
  flex-direction: column;
  align-items: center;;
  gap: 0.3em;
}
/* <div> color swatch */
#swatch--color {
  min-width: 3em;
  aspect-ratio: 1 / 1;
  border: solid 0.12em rgb(0, 0, 0);
  border-radius: 50%;
}
/* <div> f__ pick a color */
#f__label__pick_color {
  display: flex;
  flex-direction: column;
  align-items: center;;
  gap: 0.3em;
}
/* <div> color picker */
#div--color_picker {
  display: block;
}
/* <div> f__ new sketchPad, shading, color over  */
#f__buttons--new__shading_over {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-around;
}
/* <section> f__ eraser, grid lines, clear grid */
#f__eraser__lines__clear {
  display: flex;
  justify-content: center;
  gap: 2em;
}
/* set columns for <section> #f__eraser__lines__clear */
.equal_columns {
  min-width: 9.5em;
}
/* <section> g__ sketchPad for sketchPadSquares */
#g__sketch_pad {
  display: grid;
  width: 700px;
  height: 700px;
  border: 1px solid rgb(120, 120, 120);
  user-select: none;
}
/* <div> - for each sketchPadSquare in sketchPad */
.pad_square {
}

.grid_lines {
  border: solid 0.09em rgb(203, 199, 199);
}


/* ====Navigation, Links, Buttons ==== */

.btn--generic {
  font-size: 1.5rem;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 0.5em 1em;
  border-radius: 1em;
}
#btn--black {
  background-color: black;
  opacity: .5;
  color: rgb(255, 255, 255);
}

/*
#btn--random {
}

#btn--surprise {
}

#label--color_picker {
}

#btn--new_sketch_pad {
}

#btn--shading{
}

#btn--color_over {
}

#btn--eraser {
}

#btn--grid_lines {
}

#btn--clear {
}
*/


/* ==== Page Specifics ++++ */


/* ==== Sections ++++ */
