/* selector naming conventions
element__name_subname__attribute--value   */

/* ==== Typography & General Styles ---------------------------*/
.btn__style {
  font-size: 2rem;
  color: black;
  background-color: white;
  padding: 0.5em 1em;
}

/* ==== Layout ------------------------------------------------ */
#principal__flex--container {
  /* sets selection buttons above grid */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  padding: 5em 0;
}
#selections__flex--container {
  /* container for buttons */
  border: 0.2em solid red;
}
#sketch_pad__grid--container {
  /* grid container for sketch pad */
  display: grid;
  width: 760px;
  height: 760px;
  background-color: linen;
}
.pad_square {
  /* divs for each square in sketch pad */
  user-select: none;
}

/* ==== Colors --------------------------------------------------*/
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.surprise {
  background-color: pink;
}
.shade {
  background-color: gray;
}
.color--pick {
  background-color: aquamarine;
}

/* Navigation, Links, Buttons ------------------------------------------- */
#btn__black {
  background-color: black;
  color: white;
}
#btn__white {
  background-color: white;
}
#btn__surprise {
  background-color: pink;
}
#btn__gray--tone {
  background-color: gray;
}
#btn__color--pick {
  background-color: aquamarine;
}

/* ==== Page Specifics ++++++++++++++++++++++++++++++++++++++++ */

/* ==== Sections ++++++++++++++++++++++++++++++++++++++++++++++ */
